* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

:root{
  --font-color: black;
  --bg-color: white;
  --dark-gray: rgb(80, 80, 80);
}

/* Dark mode shift  */
[data-theme="dark"] {
  --font-color: white;
  --bg-color:  rgb(20, 20, 20);
}


/* Dark mode slider class */
.switch {
  height: 34px;
  position: fixed;
  right: 50px;
  top: 50px;
  overflow: hidden;
}

/* places slider within header  */
.dark-theme {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

/* Hides the checkbox from view  */
.dark-theme input {
  display:none;
}

/* Slider background  */
.slider {
  background-color: #bbbbbb;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  position: absolute;
  transition: .4s;
}

/* Slider circle handler */
.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

/* Slider border  */
.slider.round {
  border-radius: 38px;
}

/* slider circle  */
.slider.round:before {
  border-radius: 50%;
}

/* Make slider dark  */
input:checked + .slider {
  background-color: var(--dark-gray);
}

/* slider circle slider transition */
input:checked + .slider:before {
  transform: translateX(26px);
}

.main-header {
  text-align: center;
  margin: 7.5em 0 1.5em 0;
}

.main-header a {
  text-decoration: none;
  font-weight: 750;
  font-size: 2.9em;
  color: var(--font-color); /* Font Color */
}

/* fancy border under header  */
/* Credits: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr */
hr {
  border: none;
  overflow: visible;
  text-align: center;
  border-top: 3px double var(--font-color);
  color: var(--font-color);
  height: 5px;
  width: 750px;
  margin: auto;
}

hr:after {
  background: var(--bg-color);
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

/* Score Viewer  */
#score-container {
  display: none; /*will be changed to display: inline in js*/
}

#score-container p {
  color: var(--font-color);
  display: inline-block;
  margin-left: 20px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 1.8em;
}

#score_counter {
  /* margin-left: 20px; */
}

/* Time Section  */
#time-container {
  display: none; /*will be changed to display: inline in js*/
  width: 50px
}

#time-container p {
  color: var(--font-color);
  text-align: center;
  font-weight: 700;
  font-size: 4.5em;
}

/* Main page quiz info  */
.info-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5em 0;
  text-align: center;
}

.quiz-info p {
  margin-top: 15px;
  font-size: 1.2em;
  line-height: 2em;
  color: var(--font-color);
}

/* Start button Section  */
.start-container {
  margin: auto;
}

/* Button controller  */
#start-btn {
  cursor: pointer;
  background: transparent;

  margin-top: 15px;
  border-radius: 10px;
  padding: 1.0em 1.5em;
  font-weight: 800;
  font-size: 20px;
  color: var(--font-color);
  border-color: var(--font-color);
  border-style: solid;
}

#start-btn:hover {
  color: var(--bg-color);
  background-color: var(--font-color);
}

/* Questions Section  */
.question-sec {
  display: none;
}

.quiz-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  text-align: center;
  overflow: hidden;

  margin: 30px auto;
  width: 750px;
  padding: 15px;

  /* border: 10px solid var(--font-color) ;
  border-radius: 50px; */
}

.quiz-card h2{
  color: var(--font-color);
  padding: 20px;
  font-weight: 700;
  font-size: 2.9em;
}

.btn {
  color: var(--font-color);
  cursor: pointer;
  background: transparent;
  border-style: solid;

  margin: 15px 0 15px;
  padding: 16px;
  width: 600px;
  border-radius: 10px;

  font-size: 1.7em;
  font-weight: 600;

  color: var(--font-color);
  border-color: var(--font-color);
}

.btn:hover:not([disabled]) {
  background-color: var(--font-color);
  color: var(--bg-color);
}

/* disable mouse after answer selection  */
.btn:disabled{
  cursor: no-drop;
}

/* classes for js use only  */
.correct {
  border-color: #00cf7c;
  background-color: #00cf7c
}

.incorrect {
  border-color: #e40000;
  background-color: #e40000;
}

/* Next button section  */
.next-container {
  margin: auto;
}

.next-btn {
  cursor: pointer;
  background: transparent;
  border-style: solid;

  margin: 15px 0 15px;
  padding: 16px;

  border-radius: 10px;
  font-weight: 800;
  font-size: 20px;

  color: var(--font-color);
  border-color: var(--font-color);
}

.next-btn:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}

/* Score Section  */
.score-sec {
  display: none;
}

.score-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;

  text-align: center;
  overflow: hidden;

  margin: 30px auto;
  width: 750px;
  padding: 15px;


  /* border: 10px solid var(--font-color) ;
  border-radius: 50px; */
}

.score-card h2{
  padding: 20px;

  font-weight: 700;
  font-size: 2.9em;

  color: var(--font-color);
}

.score-card p {
  font-weight: 700;
  font-size: 2.9em;

  color: var(--font-color);
}

.score-card form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

.score-card label {
  /* font-weight: 700; */
  color: var(--font-color);
  font-size: 1.2em;
}

#initials {
  border-style: solid;
  text-align: center;

  margin-top: 20px;
  width: 50px;
  height: 50px;

  color: var(--font-color);
  border-color: var(--font-color);
}

#submit-btn {

  cursor: pointer;
  background: transparent;

  margin-top: 20px;
  width: 200px;

  color: var(--font-color);
  border-color: var(--font-color);
  border-style: solid;

  border-radius: 10px;
  padding: 1.0em 1.5em;
  font-weight: 800;
  font-size: 20px;
}

.score-card #submit-btn:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}

/* High score section  */
/* .highscore-sec {
  display: none;
} */

.highscore-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;

  text-align: center;
  overflow: hidden;

  margin: 30px auto;
  width: 750px;
  padding: 15px;


  /* border: 10px solid var(--font-color) ;
  border-radius: 50px; */
}

.highscore-card h2{
  padding: 20px;

  font-weight: 700;
  font-size: 2.9em;

  color: var(--font-color);
}


#play-btn {

  cursor: pointer;
  background: transparent;

  margin-top: 20px;
  width: 200px;

  color: var(--font-color);
  border-color: var(--font-color);
  border-style: solid;

  border-radius: 10px;
  padding: 1.0em 1.5em;
  font-weight: 800;
  font-size: 20px;
}

#play-btn:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}

#clear-btn {

  cursor: pointer;
  background: transparent;

  margin-top: 20px;
  width: 200px;

  color: var(--font-color);
  border-color: var(--font-color);
  border-style: solid;

  border-radius: 10px;
  padding: 1.0em 1.5em;
  font-weight: 800;
  font-size: 20px;
}

#clear-btn:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}
