* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-header {
  text-align: center;
  margin: 10px;
}

.main-header a {
  text-decoration: none;

  font-weight: 750;
  font-size: 1.8em;
  color: black; /* Font Color */
}

#score-container {
  visibility: hidden;
}